*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
}

/********************************************NOTRE HEADER************************************************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #487eb0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


header .logo img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    padding: .5rem;
}


.mainNav ul{
    list-style: none;
    display: flex;
}

.mainNav ul li{
    margin: 0 10px;
}

.mainNav ul a{
    text-decoration: none;
    color: white;   
}

.mainNav ul a:hover{
    border-bottom: 2px solid white;
    color: black;
    font-weight: bold;
    
}

.menuToggle{
    background: url(/img/menu.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 30px;
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    cursor: pointer;
    display: none;
}


.menuToggle.active{
    background: url(/img/close.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 25px;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
}


@media screen and (max-width: 768px){
    .menuToggle{
        display: block;
    }

    .mainNav{
        position: fixed;
        top: 80px;
        background-color: #487eb0;
        width: 100%;
        height: 100vh;
        transform: translateX(120%);
        transition: transform .3s ease;
    }
    .mainNav.active{
        transform: translateX(0);
    }

    .mainNav ul{
        flex-direction: column;
        text-align: center;
    }

    .mainNav ul li{
        margin-bottom: 2rem;
    }
}


/********************************************PARTIE ABOUT************************************************/
main{
    padding: .8rem;
    margin-top: 5rem;

}

span{
    text-transform: uppercase;
    color: #487eb0;
    font-size: 2rem;
}
#about .aboutTitle{
    text-align: center;
}

#about .aboutContent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    background-color: #efefef;
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem 0;
}

#about .aboutContent .leftCol{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center
}

#about .aboutContent .leftCol img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}


#about .aboutContent .rightCol h2{
    text-align: center;
}

#about .aboutContent .rightCol ul{
    list-style: none;
}

#about .aboutContent .rightCol ul li{
    padding: .8rem;
    margin: 1rem;
    text-align: center;
    border-radius: 50px;
    background-color: #487eb0;
}

#about .aboutContent .rightCol ul li a{
    padding: 1rem;
    text-decoration: none;
    color: white;
   
}


@media screen and (max-width:768px){
    #about .aboutContent{
        display: grid;
        grid-template-columns: 1fr;
    }

    #about .aboutContent .leftCol{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}



/********************************************PARTIE PROJET************************************************/
#projects .projectTitle{
    text-align: center;
}

#projects .projectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}

#projects .projectContainer .box{
    width: 300px;
    border: 1px solid #487eb0;
    padding: .2rem;
    border-radius: 10px;
}

#projects .projectContainer .box .boxImage{
    position: relative;
    width: 100%;
    height: 250px;
}

#projects .projectContainer .box .boxText{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: .5rem;
   text-align: center;
}

#projects .projectContainer .box .boxImage img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}


/********************************************FOOTER************************************************/
footer{
    background-color: #efefef;
    text-align: center;
    padding: 1rem;
}

footer .contactTitle{
    text-align: center;
    margin: 1rem 0;
}

.footerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
